/*!
 * MewPipe
 * https://github.com/Adowya/MewPipe/graphs/contributors
 * Version: 0.0.2 - 2015-06-04T19:12:35.563Z
 * License: MIT
 */


@charset "UTF-8";
@import url(../../lib/normalize.css/normalize.css);
@import url(../../lib/angular-bootstrap/ui-bootstrap-csp.css);
@import url(../../lib/bootswatch-dist/css/bootstrap.css);
@import url(../../lib/fontawesome/css/font-awesome.css);
.dialog, .dialog__overlay { width: 100%; height: 100%; top: 0; left: 0; }

.dialog { position: fixed; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; pointer-events: none; z-index: 999; }

.dialog__overlay { position: absolute; z-index: 1; background: rgba(55, 58, 71, 0.9); opacity: 0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; -webkit-backface-visibility: hidden; }

.dialog--open .dialog__overlay { opacity: 1; pointer-events: auto; }

.dialog__content { color: #000; width: 50%; max-width: 560px; min-width: 290px; background: #FFF; padding: 4em; text-align: center; position: relative; z-index: 5; opacity: 0; }

.dialog--open .dialog__content { pointer-events: auto; }

.dialog h2 { /**
margin: 0;
padding: 0 0 2em;
margin: 0;
*/ color: black; font-weight: 400; font-size: 2em; }

.dialog--close .dialog__overlay { -webkit-transition-delay: 0.25s; transition-delay: 0.25s; }

.dialog.dialog--open .dialog__content, .dialog.dialog--close .dialog__content { -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.dialog.dialog--open .dialog__content { -webkit-animation-name: anim-open; animation-name: anim-open; }

.dialog.dialog--close .dialog__content { -webkit-animation-name: anim-close; animation-name: anim-close; }

@-webkit-keyframes anim-open { 0% { opacity: 0; -webkit-transform: translate3d(calc(-100vw - 50%), 0, 0); }
  50% { opacity: 1; -webkit-transform: translate3d(100px, 0, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); } }
@keyframes anim-open { 0% { opacity: 0; -webkit-transform: translate3d(calc(-100vw - 50%), 0, 0); transform: translate3d(calc(-100vw - 50%), 0, 0); }
  50% { opacity: 1; -webkit-transform: translate3d(100px, 0, 0); transform: translate3d(100px, 0, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@-webkit-keyframes anim-close { 0% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
  50% { opacity: 1; -webkit-transform: translate3d(-100px, 0, 0) scale3d(1.1, 1.1, 1); }
  100% { opacity: 0; -webkit-transform: translate3d(calc(100vw + 50%), 0, 0); } }
@keyframes anim-close { 0% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  50% { opacity: 1; -webkit-transform: translate3d(-100px, 0, 0) scale3d(1.1, 1.1, 1); transform: translate3d(-100px, 0, 0) scale3d(1.1, 1.1, 1); }
  100% { opacity: 0; -webkit-transform: translate3d(calc(100vw + 50%), 0, 0); transform: translate3d(calc(100vw + 50%), 0, 0); } }
figure.effect-hera h2 { font-size: 158.75%; }

figure.effect-hera h2, figure.effect-hera p { position: absolute; top: 50%; left: 50%; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); -webkit-transform-origin: 50%; transform-origin: 50%; }

figure.effect-hera figcaption::before { position: absolute; top: 50%; left: 50%; width: 200px; height: 200px; border: 2px solid #fff; content: ''; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1); transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1); -webkit-transform-origin: 50%; transform-origin: 50%; }

figure.effect-hera p { width: 100px; text-transform: none; font-size: 121%; line-height: 2; }

figure.effect-hera p a { color: #fff; }

figure.effect-hera p a:hover, figure.effect-hera p a:focus { opacity: 0.6; }

figure.effect-hera p a i { opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; }

figure.effect-hera p a:first-child i { -webkit-transform: translate3d(-60px, -60px, 0); transform: translate3d(-60px, -60px, 0); }

figure.effect-hera p a:nth-child(2) i { -webkit-transform: translate3d(60px, -60px, 0); transform: translate3d(60px, -60px, 0); }

figure.effect-hera p a:nth-child(3) i { -webkit-transform: translate3d(-60px, 60px, 0); transform: translate3d(-60px, 60px, 0); }

figure.effect-hera p a:nth-child(4) i { -webkit-transform: translate3d(60px, 60px, 0); transform: translate3d(60px, 60px, 0); }

figure.effect-hera:hover figcaption::before { opacity: 1; -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1); transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1); }

figure.effect-hera:hover h2 { opacity: 0; -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1); transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1); }

figure.effect-hera:hover p i:empty { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); /* just because it's stronger than nth-child */ opacity: 1; }

.grid figure { position: relative; overflow: hidden; margin: 10px 1%; min-width: 320px; max-width: 480px; max-height: 360px; width: 48%; height: auto; text-align: center; cursor: pointer; }

.grid figure img { position: relative; display: block; min-height: 100%; max-width: 100%; opacity: 0.8; }

.grid figure figcaption { color: #fff; text-transform: uppercase; font-size: 1.25em; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.grid figure figcaption::before, .grid figure figcaption::after { pointer-events: none; }

.grid figure figcaption, .grid figure figcaption > a { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a { z-index: 1000; text-indent: 200%; white-space: nowrap; font-size: 0; opacity: 0; }

.grid figure h2 { word-spacing: -0.15em; font-weight: 300; }

.grid figure h2 span { font-weight: 800; }

.grid figure h2, .grid figure p { margin: 0; }

.grid figure p { letter-spacing: 1px; font-size: 68.5%; }

/* Common, default styles for the notification box */
.ns-box { position: fixed; background: rgba(42, 45, 50, 0.85); padding: 22px; line-height: 1.4; z-index: 1000; pointer-events: none; color: rgba(250, 251, 255, 0.95); font-size: 90%; font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif; }

.ns-box.ns-show { pointer-events: auto; }

.ns-box a { color: inherit; opacity: 0.7; font-weight: 700; }

.ns-box a:hover, .ns-box a:focus { opacity: 1; }

.ns-box p { margin: 0; }

.ns-box.ns-show, .ns-box.ns-visible { pointer-events: auto; }

.ns-close { width: 20px; height: 20px; position: absolute; right: 4px; top: 4px; overflow: hidden; text-indent: 100%; cursor: pointer; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.ns-close:hover, .ns-close:focus { outline: none; }

.ns-close::before, .ns-close::after { content: ''; position: absolute; width: 3px; height: 60%; top: 50%; left: 50%; background: #6e6e6e; }

.ns-close::before { -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); }

.ns-close::after { -webkit-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }

/* Growl-style notifications */
.ns-attached { left: 30px; max-width: 300px; }

[class^="ns-effect-"].ns-attached.ns-hide, [class*=" ns-effect-"].ns-attached.ns-hide { -webkit-animation-direction: reverse; animation-direction: reverse; }

/* Individual effects */
/* Flip */
.ns-effect-flip { background: #9bd1a2; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; bottom: 0px; font-size: 1.15em; padding: 1.5em; max-width: 280px; backface-visibility: hidden; }

.ns-effect-flip .ns-close::before, .ns-effect-flip .ns-close::after { background: #5a9862; }

.ns-effect-flip .ns-close:hover::before, .ns-effect-flip .ns-close:hover::after { background: #4e8455; }

.ns-effect-flip.ns-show, .ns-effect-flip.ns-hide { -webkit-animation-name: animFlipFront; animation-name: animFlipFront; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; }

.ns-effect-flip.ns-hide { -webkit-animation-name: animFlipBack; animation-name: animFlipBack; }

@-webkit-keyframes animFlipFront { 0% { -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg); }
  100% { -webkit-transform: perspective(1000px); } }
@keyframes animFlipFront { 0% { -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg); transform: perspective(1000px) rotate3d(1, 0, 0, -90deg); }
  100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); } }
@-webkit-keyframes animFlipBack { 0% { -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg); }
  100% { -webkit-transform: perspective(1000px); } }
@keyframes animFlipBack { 0% { -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg); transform: perspective(1000px) rotate3d(1, 0, 0, 90deg); }
  100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); } }
/* Bouncy Flip adapted from animate.css by Dan Eden: http://daneden.github.io/animate.css/ */
.ns-effect-bouncyflip { -webkit-transform-origin: 50% 0%; transform-origin: 50% 0%; background: #fff; color: #484860; top: 0; box-shadow: 0 13px 10px -5px rgba(0, 0, 0, 0.2); }

.ns-effect-bouncyflip .icon { position: absolute; display: block; top: 2em; left: 2em; }

.ns-effect-bouncyflip p { padding: 0.5em 0.8em 0.8em 3.5em; }

.ns-effect-bouncyflip .ns-close::after, .ns-effect-bouncyflip .ns-close::before { background: #484860; }

.ns-effect-bouncyflip .ns-close:hover::after, .ns-effect-bouncyflip .ns-close:hover::before { background: #545484; }

.ns-effect-bouncyflip.ns-show, .ns-effect-bouncyflip.ns-hide { -webkit-animation-name: flipInX; animation-name: flipInX; -webkit-animation-duration: 0.8s; animation-duration: 0.8s; }

@-webkit-keyframes flipInX { 0% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg); -webkit-transition-timing-function: ease-in; }
  40% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg); -webkit-transition-timing-function: ease-out; }
  60% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -10deg); -webkit-transition-timing-function: ease-in; opacity: 1; }
  80% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg); -webkit-transition-timing-function: ease-out; }
  100% { -webkit-transform: perspective(400px); } }
@keyframes flipInX { 0% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg); transform: perspective(400px) rotate3d(1, 0, 0, -90deg); -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in; }
  40% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg); transform: perspective(400px) rotate3d(1, 0, 0, 20deg); -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
  60% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -10deg); transform: perspective(400px) rotate3d(1, 0, 0, -10deg); -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in; opacity: 1; }
  80% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg); transform: perspective(400px) rotate3d(1, 0, 0, 5deg); -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
  100% { -webkit-transform: perspective(400px); transform: perspective(400px); } }
.ns-effect-bouncyflip.ns-hide { -webkit-animation-name: flipInXSimple; animation-name: flipInXSimple; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; }

@-webkit-keyframes flipInXSimple { 0% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg); -webkit-transition-timing-function: ease-in; }
  100% { -webkit-transform: perspective(400px); } }
@keyframes flipInXSimple { 0% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg); transform: perspective(400px) rotate3d(1, 0, 0, -90deg); -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in; }
  100% { -webkit-transform: perspective(400px); transform: perspective(400px); } }
@media screen and (max-width: 25em) { .ns-attached { left: 30px; max-width: none; right: 30px; } }
/* General styles for all types of buttons */
.progress-button { position: relative; display: inline-block; padding: 0 60px; outline: none; border: none; background: #1d9650; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-size: 1em; line-height: 4; }

.progress-button[disabled], .progress-button[disabled].state-loading { cursor: default; }

.progress-button .content { position: relative; display: block; }

.progress-button .content::before, .progress-button .content::after { position: absolute; right: 20px; color: #0e7138; opacity: 0; -webkit-transition: opacity 0.3s 0.3s; transition: opacity 0.3s 0.3s; }

.progress-button .content::before { content: "\f00c"; /* Checkmark for success */ font: normal normal normal 14px/1 FontAwesome; font-size: 20px; top: 80px !important; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }

.progress-button .content::after { content: "\f00c"; /* Cross for error */ font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }

.progress-button.state-success .content::before, .progress-button.state-error .content::after { opacity: 1; }

.notransition { -webkit-transition: none !important; transition: none !important; }

.progress-button .progress { background: #148544; }

.progress-button .progress-inner { position: absolute; left: 0; background: #0e7138; }

.progress-button[data-horizontal] .progress-inner { top: 0; width: 0; height: 100%; -webkit-transition: width 0.3s, opacity 0.3s; transition: width 0.3s, opacity 0.3s; }

.progress-button[data-vertical] .progress-inner { bottom: 0; width: 100%; height: 0; -webkit-transition: height 0.3s, opacity 0.3s; transition: height 0.3s, opacity 0.3s; }

/* Necessary 3d styles for buttons with perspective */
.progress-button[data-perspective] { position: relative; display: inline-block; padding: 0; background: transparent; -webkit-perspective: 900px; perspective: 900px; }

.progress-button[data-perspective] .content { padding: 0 60px; background: #1d9650; }

.progress-button[data-perspective] .progress-wrap { display: block; -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

.progress-button[data-perspective] .content, .progress-button[data-perspective] .progress { outline: 1px solid transparent; /* Smoothen jagged edges in FF */ }

/* Shrink horizontal */
/* ====================== */
.progress-button[data-style="shrink"] { /* common for horizontal and vertical */ overflow: hidden; -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }

.progress-button[data-style="shrink"][data-horizontal] .content { -webkit-transition: opacity 0.3s, -webkit-transform 0.3s; transition: opacity 0.3s, transform 0.3s; }

.progress-button[data-style="shrink"][data-horizontal] .content::before, .progress-button[data-style="shrink"][data-horizontal] .content::after { top: 100%; right: auto; left: 50%; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.progress-button[data-style="shrink"][data-horizontal].state-loading { -webkit-transform: scaleY(0.3); transform: scaleY(0.3); }

.progress-button[data-style="shrink"][data-horizontal].state-loading .content { opacity: 0; }

.progress-button[data-style="shrink"][data-horizontal].state-success .content, .progress-button[data-style="shrink"][data-horizontal].state-error .content { -webkit-transform: translateY(-100%); transform: translateY(-100%); }

#index { /* Windows Video Popup  */ /* Dummy content */ /* Simple fallback */ /* if any of these are not supported, a simple fallback will be shown */ }
#index .fa-play-circle-o { font-size: 150px; position: relative; right: 16px; }
#index .partial_show { padding-left: 100px; background: url(./../images/bg2.jpg) 0 0/cover !important; }
#index .partial_show .well-bg { background-color: rgba(0, 0, 0, 0.3); }
#index .partial_show .panel-default { background-color: rgba(0, 0, 0, 0.3); }
#index .partial_show .panel-heading { background-color: rgba(0, 0, 0, 0.3); }
#index .noscroll { overflow: hidden; }
#index .grid-wrap { margin: 10px auto 0; max-width: 1090px; width: 100%; padding: 0; -webkit-perspective: 1500px; perspective: 1500px; }
#index .grid { position: relative; -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.25, 1); transition: all 0.5s cubic-bezier(0, 0, 0.25, 1); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
#index .view-full .grid { -webkit-transform: translateZ(-1500px); transform: translateZ(-1500px); }
#index .grid figure, #index .grid .placeholder { width: 320px; height: 290px; }
#index .grid figure { margin: 10px; display: inline-block; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#index .grid figure.active { opacity: 0; }
#index .grid .placeholder { pointer-events: none; position: absolute; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
#index .placeholder > div { display: block; position: absolute; width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#index .placeholder .front img { width: 100%; height: 100%; }
#index .placeholder .back { background: white; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
#index .view-full .placeholder { -webkit-transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1); transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1); }
#index .vertical .view-full .placeholder { -webkit-transform: translateZ(1500px) rotateX(-179.9deg); transform: translateZ(1500px) rotateX(-179.9deg); /* FF, Chrome, can we agree on one direction, pleeease? */ }
#index .horizontal .view-full .placeholder { -webkit-transform: translateZ(1500px) rotateY(-179.9deg); transform: translateZ(1500px) rotateY(-179.9deg); }
#index .grid figure img { display: block; width: 100%; }
#index .content, #index .loading { position: fixed; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */ }
#index .content { overflow-y: scroll; height: 0; /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */ background: #fff; visibility: hidden; z-index: 400; -webkit-overflow-scrolling: touch; }
#index .loading { opacity: 0; z-index: 1; background: transparent url(../images/preloader.gif) no-repeat center center; -webkit-transform: scale(0.5); transform: scale(0.5); -webkit-transition: opacity 0.5s, -webkit-transform 0.5s; transition: opacity 0.5s, transform 0.5s; }
#index .loading.show { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
#index .content.show { height: auto; pointer-events: auto; visibility: visible; }
#index .content > div { z-index: 10; position: absolute; top: 0; width: 100%; overflow: hidden; height: 0; opacity: 0; background: #fff; }
#index .content > div.show { height: auto; opacity: 1; -webkit-transition: opacity 0.6s; transition: opacity 0.6s; }
#index .icon:before { font-family: 'fontawesome'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#index .close-content { position: fixed; z-index: 1000; top: 0; right: 10px; font-size: 1.6em; color: #aaa; cursor: pointer; pointer-events: none; padding: 1em; opacity: 0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
#index .content > div.show ~ .close-content { opacity: 1; pointer-events: auto; }
#index .dummy-img, #index .dummy-text { max-width: 600px; width: 90%; opacity: 0; -webkit-transition: opacity 0.5s, -webkit-transform 0.5s; transition: opacity 0.5s, transform 0.5s; }
#index .vertical .dummy-img, #index .vertical .dummy-text { -webkit-transform: translateY(100px); transform: translateY(100px); }
#index .horizontal .dummy-img, #index .horizontal .dummy-text { -webkit-transform: translateX(-100px); transform: translateX(-100px); }
#index .content > div.show .dummy-img, #index .content > div.show .dummy-text { opacity: 1; }
#index .vertical .content > div.show .dummy-img, #index .vertical .content > div.show .dummy-text { -webkit-transform: translateY(0); transform: translateY(0); }
#index .horizontal .content > div.show .dummy-img, #index .horizontal .content > div.show .dummy-text { -webkit-transform: translateX(0); transform: translateX(0); }
#index p.dummy-text:nth-child(2) { -webkit-transition-delay: 0.1s; transition-delay: 0.1s; }
#index p.dummy-text:nth-child(3) { -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }
#index .dummy-img { height: 400px; background-color: #ddd; margin: 30px auto; }
#index .dummy-text { text-align: left; margin: 0 auto; padding: 10px 0; color: #ddd; font-size: 1em; font-family: 'Blokk', Arial, serif; }
#index .dummy-text:last-child { padding-bottom: 100px; }
#index .no-pointerevents .content, #index .no-csstransforms3d .content, #index .no-csstransitions .content, #index .no-pointerevents .content > div, #index .no-csstransforms3d .content > div, #index .no-csstransitions .content > div, #index .no-pointerevents .close-content, #index .no-csstransforms3d .close-content, #index .no-csstransitions .close-content { opacity: 1; visibility: visible; display: none; height: auto; }
#index .no-pointerevents .show .close-content, #index .no-csstransforms3d .show .close-content, #index .no-csstransition .show .close-content, #index .no-pointerevents div.show, #index .no-csstransforms3d div.show, #index .no-csstransitions div.show, #index .no-csstransitions .dummy-img, #index .no-csstransitions .dummy-text, #index .no-csstransforms3d .dummy-img, #index .no-csstransforms3d .dummy-text, #index .no-pointerevents .dummy-img, #index .no-pointerevents .dummy-text { display: block !important; opacity: 1; }
@media screen and (max-width: 1000px) { #index .grid figure, #index .grid .placeholder { width: 240px; height: 212px; margin: 10px auto; display: block; } }

#show dialog__content span { position: relative; display: block; width: 100%; overflow: hidden; height: 50px; }

#upload .drop-box { border: dotted 3px; min-height: 20px; padding: 19px; margin-bottom: 20px; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); width: 210px; }
#upload .drop-box.dragover { border: 5px dashed blue; }
#upload .tags { display: inline-block !important; margin: 5px; cursor: pointer; }

#video_user .grid figure { min-width: 100% !important; }

.fa { padding-right: 7px; }

.pl { padding-left: 7px; }

.pr { padding-right: 7px; }

.center { margin: 0 auto; display: block; text-align: center; }

#signIn .well-lg { font-size: 2em; }
#signIn .well-lg .fa-facebook  { top: 12px; position: relative; color: #3B5998 !important; }
#signIn .well-lg .fa-google-plus  { top: 12px; position: relative; color: #d34836 !important; }

#banner .col-md-8 { padding: 20px; margin: 0px auto; float: none; }

.left-inner-addon { position: relative; }

.left-inner-addon input { padding-left: 30px; }

.left-inner-addon i { position: absolute; padding: 11px 12px; pointer-events: none; z-index: 99; }

.right-inner-addon { position: relative; }

.right-inner-addon input { padding-right: 30px; }

.right-inner-addon i { position: absolute; right: 0px; padding: 10px 12px; pointer-events: none; z-index: 99; }

.image_right { height: 200px; display: block; position: relative; margin: 30px; float: right; }

.image_left { height: 200px; display: block; position: relative; margin: 30px; float: left; }

footer { background-color: #1d2a36; display: block; margin: 0 auto; padding: 2%; margin-top: 20px; }
footer ul li { display: inline-block; content: '|'; padding: 9px; margin: 0 auto; position: relative; }

/* .loading-line starts :D */
.loading-line { height: 0.3em; left: 0; position: fixed; top: 0; width: 100%; z-index: 999; -moz-animation: loading 5s linear; -webkit-animation: loading 5s linear; animation: loading 5s linear; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }

@-moz-keyframes loading { 0% { background: #f07719; width: 0%; }
  30% { background: #f07719; width: 20%; }
  55% { background: #f07719; width: 55%; }
  60% { background: #f07719; width: 62%; }
  75% { background: #f07719; width: 75%; }
  88% { background: #f07719; width: 80%; }
  100% { background: #f07719; } }
@-webkit-keyframes loading { 0% { background: #f07719; width: 0%; }
  30% { background: #f07719; width: 20%; }
  55% { background: #f07719; width: 55%; }
  60% { background: #f07719; width: 62%; }
  75% { background: #f07719; width: 75%; }
  88% { background: #f07719; width: 80%; }
  100% { background: #f07719; } }
@keyframes loading { 0% { background: #f07719; width: 0%; }
  30% { background: #f07719; width: 20%; }
  55% { background: #f07719; width: 55%; }
  60% { background: #f07719; width: 62%; }
  75% { background: #f07719; width: 75%; }
  88% { background: #f07719; width: 80%; }
  100% { background: #f07719; } }
li { list-style: none; }

a { color: rgba(0, 0, 0, 0.4); text-decoration: none; outline: none; }

/*----------------------------------*/
/*------- Menu hover effect --------/
/*--------------------------------*/
nav a { position: relative; display: inline-block; margin: 15px 25px; outline: none; color: #fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px; font-weight: 400; text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); font-size: 1.35em; line-height: 1; }

nav a:hover, nav a:focus { outline: none; }

.cl-effect-5 a { overflow: hidden; padding: 0 4px; height: 1em; }

.cl-effect-5 a span { position: relative; display: inline-block; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s; }

.cl-effect-5 a span::before { position: absolute; top: 100%; content: attr(data-hover); font-weight: 700; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.cl-effect-5 a:hover span, .cl-effect-5 a:focus span { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); }

/*--------------------*/
/***** Videogular *****/
/*--------------------*/
videogular { text-align: initial; }

.videogular-container { width: 100%; height: 320px; margin: auto; overflow: hidden; }

@media (min-width: 1200px) { .videogular-container { width: 1170px; height: 658.125px; } }
@media (min-width: 992px) and (max-width: 1199px) { .videogular-container { width: 940px; height: 528.75px; } }
@media (min-width: 768px) and (max-width: 991px) { .videogular-container { width: 728px; height: 409.5px; } }


