<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <div class="jumbotron">
                <h1>Most Viewed</h1>
                <p>Here are MewPipe's most viewed videos. You can trust our users, they have the best tastes in video.</p>
                <div id="index">
                    <section class="grid3d horizontal" id="relatedVideo">
                        <div class="grid-wrap">
                            <div class="grid">
                                <figure class="effect-hera" ng-repeat="video in relatedVideos">
                                    <img ng-src="{{video.image}}" />
                                    <figcaption>
                                        <h2>
                                            <span>{{video.name}}</span>
                                        </h2>
                                        <p>
                                            <a>
                                                <i class="fa fa-play-circle-o"></i>
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- /grid-wrap -->
                        <div class="content">
                            <div ng-repeat="video in relatedVideos">
                                <ng-include src="'views/partial/show.html'"></ng-include>
                            </div>
                            <span class="loading"></span>
                            <span class="icon close-content ns-close"></span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="bs-component">
            <div class="jumbotron">
                <h1 id="container">Suggested</h1>
                <p>Here are some suggestions in relation to what you've watched in the past</p>
                <div id="index">
                    <section class="grid3d horizontal" id="suggestedVideo">
                        <div class="grid-wrap">
                            <div class="grid">
                                <figure class="effect-hera" ng-repeat="suggestVideo in suggestVideos">
                                    <img ng-src="{{suggestVideo.image}}" />
                                    <figcaption>
                                        <h2>
                                            <span>{{suggestVideo.name}}</span>
                                        </h2>
                                        <p>
                                            <a href="#">
                                                <i class="fa fa-play-circle-o"></i>
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- /grid-wrap -->
                        <div class="content">
                            <div ng-repeat="video in suggestVideos">
                                <ng-include src="'views/partial/show.html'"></ng-include>
                            </div>
                            <span class="loading"></span>
                            <span class="icon close-content ns-close"></span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>