<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <div class="jumbotron">
                <h1>Popular</h1>
                <p>Here are some popular videos from MewPipe. Enjoy the very best, based on what other viewers watch :)</p>
                <div id="index">
                    <section id="relatedVideo" style="width: 300px;height: 290px;display: inline-block;position: relative;margin: 10px;overflow: hidden;" ng-repeat="video in relatedVideos">
                        <a href="#/video/show/{{ video._id }}">
                            <img ng-src="{{video.image}}" />
                            <figcaption>
                                <h2>
                                    <span>{{video.name}}</span>
                                </h2>
                            </figcaption>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="app.getToken()" class="col-lg-12">
        <div class="bs-component">
            <div class="jumbotron">
                <h1 id="container">Suggestions</h1>
                <p>Liked watching something ? Let's try something similar ;)</p>
                <div id="index">
                    <section id="suggestVideos" style="width: 300px;height: 290px;display: inline-block;position: relative;margin: 10px;overflow: hidden;" ng-repeat="video in suggestVideos">
                        <a href="#/video/show/{{ video._id }}">
                            <img ng-src="{{video.image}}" />
                            <figcaption>
                                <h2>
                                    <span>{{video.name}}</span>
                                </h2>
                            </figcaption>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>