<div class="row" id="show">
    <div class="page-header">
        <h1 class="container">{{video.name}}</h1>
    </div>
    <div class="col-md-8">
        <h4><a ng-href="#/video/users/{{user._id}}">{{user.firstname}} {{user.lastname}}</a></h4>
        <div class="" ng-if="video.ready">
            <videogular vg-theme="video.theme">
                <vg-media vg-src="video.sources"></vg-media>
                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
                <vg-overlay-play></vg-overlay-play>
                <vg-poster vg-url='video.plugins.poster'></vg-poster>
            </videogular>
        </div>
        <div ng-if="!video.ready">
            <div class="image" style="background: url('{{video.image}}');"></div>
        </div>
        <div class="well well-lg">
            <button type="button" class="btn btn-warning pull-right" data-dialog="share" ng-dialog>Share link</button>
            <ul>
                <li>Post: {{video.created}}</li>
                <li>View: {{video.views}}</li>
                <li>Size : {{video.size}}</li>
                <li>Description : {{video.description}}</li>
                <li></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i>
                    <i class="fa fa-pinterest fa-2x"></i>
                    <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section class="well">
            <h2>Related</h2>
            <aside class="row"></aside>
        </section>
    </div>
</div>
<!-- dialog -->
<div id="share" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <h2>
            <strong>Use link</strong> :
        </h2>
        <div class="col-md-12">
        <input style="width: 100%;margin: 20px" class="input-lg" ng-value="video.link"></input>
            </div>
        <div>
            <button class="btn btn-default btn-danger action" data-dialog-close>Close</button>
        </div>
    </div>
</div>
<!-- /dialog -->